---
# tasks to deploy applications

- name: checkout repository
  git:
    repo: 'https://github.com/skeres/p1.git'
    dest: /usr/src/ansible_workspace/projectApp/checkout
    version: develop
  become: yes

- name: copy files with backup
  copy:
    #src: /var/jenkins_home/workspace/projectApp/checkout/index.html
    src: /usr/src/ansible_workspace/projectApp/checkout
    dest: /usr/share/nginx/html
    owner: root
    group: root
    mode: '0644'
    backup: yes
  become: yes

