---
# tasks to deploy applications

- name: delete existing app files on target server
  shell: rm -rf /usr/share/nginx/html/*
  become: yes

- name: checkout repository
  git:
    repo: 'https://github.com/skeres/p1.git'
    #dest: /usr/src/ansible_workspace/projectApp/checkout
    dest: /usr/share/nginx/html/
    version: master
    force: yes
  become: yes

- name: set server variables for root user
  shell: export system_memory={{_system_memory}}
  become: yes
