---
# tasks to deploy applications

- name: checkout repository
  git:
    repo: 'https://github.com/skeres/p1.git'
    dest: /projectApp/checkout
    version: develop

- name: copy files with backup
  copy:
    src: /var/jenkins_home/workspace/projectApp/checkout/index.html
    dest: /usr/share/nginx/html
    owner: root
    group: root
    mode: '0644'
    backup: yes
  become: yes

